#Integrations .css-p8jfaj-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #e72e80 !important;
}

#Integrations .css-10z7ka6-MuiTabs-indicator {
  background-color: #e72e80;
}
#Integrations .css-ai2d5d.Mui-selected {
  color: #e72e80;
}

#search-box {
  border: 1px solid #6b7280;
  padding-left: 15pt;
}
